<div style="text-align: center">
    <h1>Welcome to CMS with Angular </h1>
    <div class="center-url">
        <h2>Whats new in Angular 13</h2>
        <img width="300px" alt="Angular Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png">
        <ul>
            <li>
                <h3>Support for TypeScript 4.4</h3>
            </li>
            <li>
                <h3>Enhancements to Angular Tests</h3>
            </li>
            <li>
                <h3>100% Ivy and No More Support for View Engine</h3>
            </li>
            <li>
                <h3>Ergonomic APIs</h3>
            </li>
            <li>
                <h3> Angular CLI Enhancements</h3>
            </li>
            <li>
                <h3>Changes to the Angular Package Format(APF) </h3>
            </li>
            <li>
                <h3>Changes in Framework and Dependency Updates</h3>
            </li>
            <li>
                <h3>Component API Updates</h3>
            </li>
            <li>
                <h3>No Longer Support for Internet Explorer 11</h3>
            </li>
            <li>
                <h3>Accessibility Update in Angular Material</h3>
            </li>
        </ul>
    </div>
</div>